<head>
    <link rel="stylesheet" href="/stylesheets/homepage.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Pacifico&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <% if logged_in? %>
        <% dog = find_dog_by_user_id(current_user['id'])%>
        <a href="/dogs/<%= dog['id'] %>">Your Profile</a>
        <a href="#">Messages</a>
        <a href="/search">Search</a>
        <p>You are logged in as <%= current_user['email'] %></p>

        <form action="/logout" method="post">
            <input type="hidden" name="_method" value="delete">
            <button>Log out</button>
        </form>
        <% end %>
        <div class="title">
            <h1>Puppy Pals</h1>
            <p> Bringing the gift of love in the form of socialising to our furry friends </p> 
        </div>
    </header>

    <section class="grid-container">
        <div class="about_us">
            <h3>About Us</h3>
            <p>Puppy Pals is a doggy dating website, where dog owners can help their furbabies connect with others and even organise dates with playmates.  </p>

            <h3>Join us</h3>
            <div class="join_us">
                <img src="https://s3.ap-south-1.amazonaws.com/hsdreams1/pins/2019/04/big/8bbabbb966751410a3b4a4051fb4b943.jpeg" alt="">
                <img src="https://static.standard.co.uk/s3fs-public/thumbnails/image/2019/03/15/17/pixel-dogsofinstagram-3-15-19.jpg" alt="">
                <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/best-large-dog-breeds-australian-shepherd-1583783913.jpg?crop=0.668xw:1.00xh;0.245xw,0&resize=480:*" alt="">
                <img src="https://purewows3.imgix.net/images/articles/2019_07/small-dogs-big-personalities-400.jpg?auto=format,compress&cs=strip" alt="">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSopxbNeXfHPODBid5PtX67MS2H-Z4e7RZxjw&usqp=CAU" alt="">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS7P6MQIhkKDuMRZ07hm2XTr8BOZrWrgeutag&usqp=CAU" alt="">
                <img src="https://i.imgur.com/C0pX8rd.jpg" alt="">
                <img src="https://i.imgur.com/wTSko6I.jpg?2" alt="">
                <img src="https://i.imgur.com/WT2jw2P.jpg?1" alt="">
                <img src="https://i.imgur.com/yKDO2Da.jpg" alt="">
                <%# <img src="https://i.imgur.com/ZBwJ9wn.jpg?1" alt="">
                <img src="https://i.imgur.com/polTld9.jpg?1" alt=""> %>
            </div>
        </div>

        <div class="login_signup">
            <% unless logged_in? %>
                <!-- login form --> 
                <p class="returning">Returning member?</p>
                <h3>Sign in</h3>
                <form action="/login" method = "post">
                <input type="text" name = "email" value ="Email address" > 
                <br>
                <input type="password" name = "password" value = "Password">
                <br>
                <button>Log In</button>
                </form>
                <br>

                <!-- sign up -->
                <p>New members?</p>
                <a href="/dogs/new"> Sign Up </a>
            <% end %>
        </div>
        

    </section>
</body>