<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <a href="/">Home</a>
    <% if logged_in? %>
      <% dog = find_dog_by_user_id(current_user['id'])%>
      <a href="/dogs/<%= dog['id'] %>">Your Profile</a>
      <a href="#">Messages</a>
      <a href="#">Search</a>
      <p>You are logged in as <%= current_user['email'] %></p>

      <form action="/logout" method="post">
        <input type="hidden" name="_method" value="delete">
        <button>Log out</button>
      </form>
    <% end %>
  </header>

  <%= yield %>

</body>
</html>
