<h1>New account sign up</h1>

<form action="/signed_up" method = "post">
    <label for="">Email </label>
    <input type="text" name ="email">
    <br>
    <br>
    <label for="">Password</label>
    <input type="password" name ="password">


    <h2>Dog Details</h2>


    <label for="">Name</label>
    <input type="text" name ="name">
    <br>
    <br>
    <label for="">Image URL</label>
    <input type="text" name ="image_url">
    <br>
    <br>
    <label for="">Age</label>
    <input type="text" name ="age">
    <br>
    <br>
    <label for="">Breed</label>
    <input type="text" name ="breed">
    <br>
    <br>
    <label for="">Gender</label>
    <input type="text" name ="gender">
    <br>
    <br>
    <label for="">Bio</label>
    <input type="text" name ="bio">
    <br>
    <br>
    <label for="">Location (Suburb)</label>
    <input type="text" name ="loc_suburb">
    <br>
    <br>
    <label for="">Location (State)</label>
    <input type="text" name ="loc_state">
    <br>
    <br>
    <label for="">Location(Country)</label>
    <input type="text" name ="loc_country">
    <br>
    <br>
    <button>submit</button>
</form>